export(WISP.getPureCentro, WISP.getWeight, WISP.getPlot)
import(ComplexHeatmap)
importFrom(circlize, colorRamp2)
importFrom(quadprog, solve.QP)
importFrom(PresenceAbsence, auc)
importFrom(matrixStats, rowVars)
import(ggplot2)
importFrom(reshape2, melt)
importFrom(ggpubr, ggarrange)
importFrom(grDevices, rainbow)
importFrom(stats, setNames, t.test, pf)
importFrom(utils, write.table)
